
@{
    ViewBag.Title = "AccessError";
}

    <main role="main" class="probootstrap-main js-probootstrap-main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>
                        You are not authorized to access this page.
                    </h1>
                    <h2>Please go to the homepage</h2>
                    <a href="/" class="btn btn-sucess btn-lg active" role="button" aria-pressed="true" style="color:white; background-color:green">Homepage</a>
                </div>
            </div>

        </div>

    </main>

