
@{
    ViewBag.Title = "ActivateUserOK";
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container register-ok">
    <div class="alert alert-success" role="alert">
        You have successfully activated your account.
    </div>

    <div>
        <a href="/" class="btn btn-primary stretched-link">Homepage</a>
    </div>
</div>