
@{
    ViewBag.Title = "ActivateError";
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container register-ok">
    <div class="alert alert-danger" role="alert">
        User is already active or there is no user to activate.
    </div>

    <div>
        <a href="/" class="btn btn-primary stretched-link">Homepage</a>
    </div>
</div>