@using FoodBlog.Entities
@model List<Food>

@{
    ViewBag.Title = "Index";
}

<main role="main" class="probootstrap-main js-probootstrap-main">
    <div class="probootstrap-bar">
        <a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span class="oi oi-menu"></span></a>
        <div class="probootstrap-main-site-logo"><a href="index">Text</a></div>
    </div>

    <div class="card-columns">
        @foreach (Food item in Model)
        {
        <div class="card" data-id="@item.Id">
            <p>@item.Title</p>
            <a href="/Home/FoodPage/@item.Id">
                @if (item.FoodImage != null)
                {
                    <img class="card-img-top probootstrap-animate" src="~/images/@item.FoodImage" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top probootstrap-animate" src="~/images/img_1.jpg" alt="Card image cap">
                }
            </a>
            <button class="btn btn-default btn-sm" type="button" data-like="false" data-card-id="@item.Id">
                <i class="material-icons" style="font-size:25px;color:red;">favorite_border</i>
            </button>

        </div>
        }
    </div>

    <div class="container-fluid d-md-none">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled d-flex probootstrap-aside-social">
                    <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                    <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                    <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
                </ul>
                <p>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies:Aside</a>. <br> All Rights Reserved. Designed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a></p>
            </div>
        </div>
    </div>

</main>

<script src="~/js/jquery-3.2.1.slim.min.js"></script>

<script>
    $(function () {
        var favIds = [];
        $("div[data-id]").each(function (i, e) {
            favIds.push($(e).data("id"));
        });


        $.ajax({
            method: "POST",
            url: "/Food/GetFavorites",
            data: { ids: favIds }
        }).done(function (data) {

            if (data.result != null && data.result.length > 0) {
                for (var i = 0; i < data.result.length; i++) {
                    var id = data.result[i];
                    var favFoodPage = $("div[data-id=" + id + "]");
                    var button = favFoodPage.find("button[data-like]");
                    var icon = button.children().first();

                    button.data("like", true)
                    icon.empty()
                    icon.text("favorite");
                }
            }
        }).fail(function () {

        });

        $("button[data-like]").click(function () {
            var button = $(this);
            var like = button.data("like");
            var card_id = button.data("card-id");
            var favicon = button.find("i.material-icons");

            console.log(like);

            $.ajax({
                method: "POST",
                url: "/Food/SetLike",
                data: { "card_id": card_id, "like": !like }
            }).done(function (data) {

                console.log(data);

                if (data.anyError) {
                    alert(data.errorMessage);
                } else {
                    like = !like;
                    button.data("like", like);

                    favicon.empty();

                    if (like) {
                        favicon.text("favorite");
                    } else {
                        favicon.text("favorite_border");
                    }
                }

            }).fail(function () {
                alert("Error");
            })
        });
    });
</script>