
@{
    ViewBag.Title = "RegisterSuccessful";
}

    <link href="~/css/Login.css" rel="stylesheet" />

    <div class="container register-ok">
        <div class="alert alert-success" role="alert">
            We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
        </div>

        <div>
            <a href="/" class="btn btn-primary stretched-link">Homepage</a>
        </div>
    </div>